@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
    background-color: #ffffff;
    font-family: InterVariable, sans-serif;
}

.layout-container {
    margin-inline: auto;
    width: 100%;
    max-width: 80rem;
    padding-inline: 1rem;
}
